<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Montserrat:200,300,400,500,600,700,800|Nunito:300,400,600,700,800|Questrial&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/style.css">
        <link rel="stylesheet" href="static/style-data.css">
        
    </head>
    <body background="static/bg1.jpg" class="bg">
        {% if name %}
          <h3 class="py-5 my-5 w-100 text-center position-absolute" style="color: white;">{{name}}</h3>
        {% endif %}
        <div class="container main-cont">
            <h2 class="head">Companies matched for you</h2>
            <table class>
                <thead>
                    <tr>
                        <th>Company No.</th>
                        <th>Name</th>
                        <th>Share Price</th>
                        <th>Area based</th>
                        <th>Investment(in lakhs)</th>
                        <th>Service offered</th>
                        <th>Years in operation</th>
                    </tr>
                </thead>
                <tbody>
                    {% for company in data %}
                    <tr>
                        <td>{{company[0]}}</td>
                        <td>{{company[1]}}</td>
                        <td>{{company[2]}}</td>
                        <td>{{company[3]}}</td>
                        <td>{{company[4]}}</td>
                        <td>{{company[5]}}</td>
                        <td>{{company[6]}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
</html>